.full-height {
    height: calc(100vh - 64px);
    display: flex;
    flex: 1;
    align-items: center;
    .card {
        align-self: flex-end;
        display: flex;
        flex: 1;
        app-bike-station-details {
            width: 100%;
        }
    }
}

@media (max-width: 599px) {
    .full-height {
        height: calc(100vh - 56px);
    }
}