.full-height {
  height: calc((var(--vh, 1vh) * 100) - 64px);
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr min-content;
  flex: 1;

  .card {
    flex: 1;
    app-bike-station-details {
      width: 100%;
    }
  }
}

@media (max-width: 599px) {
  .full-height {
    height: calc((var(--vh, 1vh) * 100) - 56px);
  }
}
