.bike-card {
  margin: 10px auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.04);
  transition: box-shadow 300ms ease-in-out;
  mat-card-title {
    color: #303030;
    font-family: 'SFPro Display';
    font-size: 22px;
    font-weight: 400;
  }
  mat-card-subtitle {
    color: #676767;
    font-family: 'SFPro Display';
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    .subtitle-darker {
      color: #3f3f3f;
    }
  }
  &:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1),
      0px 2px 4px rgba(0, 0, 0, 0.08);
  }
  &.details-card {
    margin: 0 auto;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.02);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    &:hover {
      box-shadow: none;
    }
  }
}

span.middot {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  margin: 0 10px;
  background: #bcbcbc;
}
