<mat-card [ngClass]="{ 'bike-card': true, 'details-card': isDetails }">
  <mat-card-title>{{ bikeStation.properties.label }}</mat-card-title>
  <mat-card-subtitle>
    <ng-container *ngIf="position">
      <span class="subtitle-darker">
        {{
          bikeStation.geometry.coordinates | distance: position | shortNumber
        }}
      </span>
      <span class="middot"></span>
    </ng-container>
    <ng-container *ngIf="((place | async)?.features)[0] as foundPlace">
      {{ foundPlace.text }} {{ foundPlace.address }},
      {{ foundPlace.context[1]?.text }}
    </ng-container>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="card-row">
      <div class="card-column">
        <div class="card-row">
          <div class="card-column">
            <mat-icon svgIcon="bike"></mat-icon>
            <p>Available bikes</p>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <p class="available-count available-count-primary">
              {{ bikeStation.properties.bikes }}
            </p>
          </div>
        </div>
      </div>
      <div class="card-column">
        <div class="card-row">
          <div class="card-column">
            <mat-icon svgIcon="unlock"></mat-icon>
            <p>Available places</p>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <p class="available-count available-count-accent">
              {{ bikeStation.properties.free_racks }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
